@import url(https://fonts.googleapis.com/css?family=Open+Sans|Luckiest+Guy);

.navbar {
  border-radius:0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  background-color: transparent;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: url('scribble_light.png');
  border-bottom: 3px solid #AD051E;
}

.navbar-default a.navbar-brand {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 100;
  color: #AD051E;
}

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:450px;
  color: white;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
  background:rgba(4,115,159,.55);
    margin-top: 30px;
    color: white;
    padding: 50px;
    padding-top: 25px;
    border-radius: 2px;
    float: right;
    text-align: center;
    width: 50%;
    min-width: 200px;
    margin-right: 50px;
}

.frosty h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius:0;
}

body {
  background: url('mochaGrunge.png');
  
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}

.booyah-box h2, .booyah-box h1 {
  margin:10px;
}

.clr {
  clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}
